.footer {
  text-align: center;
  /* padding: 60px 20px; */
  color: #bbbbbb;
  /* border-top: 5px solid #E20C19; */

    padding: 50px 10px;
    background: #E30813;
    background: radial-gradient(circle,rgba(227, 8, 19, 1) 8%, rgba(230, 28, 18, 1) 38%, rgba(236, 60, 17, 1) 57%, rgba(243, 98, 16, 1) 81%, rgba(246, 117, 15, 1) 88%, rgba(255, 170, 13, 1) 100%);
    margin-right: 400px;
    border-top-right-radius: 180px;


}

.footer p {
  margin-bottom: 8px;
  font-size: 14px;
}
